# Ambiente Virtual
.venv/

# Arquivos compilados do Python
__pycache__/
*.pyc

# Arquivos de Build do PyInstaller
build/
dist/
*.spec

# Arquivos de Dados (opcional, mas recomendado se for grande ou sensível)
data/
database.db
# Last update 07/08/2025 21:17:37
